*
{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

/* Box for the game to be played inside */
.game
{
  /* Set dimensions */
    width: 500px;
    height: 200px;
    border: 10px solid red;
    margin: auto;
}

/* Properties of the Mario character */
#mario
{
  /* Set dimensions */
    width: 40px;
    height: 50px;
    /* Apply background */
    background-image: url("super_mario_run1.png");
    background-size: cover;
    position: relative;
    top: 150px;
}

/* Modify text */
p, h1
{
  text-align: center;
  color: greenyellow
}

h2
{
  text-align: center;
  color: yellow;
}

/* Ensure smooth animation */
.animate
{
    animation: hop 0.25s linear;
}

@keyframes hop
{
  /* Set dimensions */
  0%{top: 150px;}
  30%{top: 100px;}
  70%{top: 100px;}
  100%{top: 150px;}
}

/* Properties of flying green shell */
#shell
{
    background-image: url("Green_Shell.png");
    background-size: cover;
    /* Set dimensions */
    width: 20px;
    height: 20px;
    position: relative;
    top: 130px;
    left: 500px;
    animation: shell 1s infinite linear;
}

@keyframes shell
{
  /* Set dimensions*/
  0%{left: 500px}
  100%{left: -20px}
}

/* Set overall background */
body
{
  background-image: url("blueback.jpg");
  background-size: cover;
}

/* Center the Logo */
.center
{
  /* Set dimensions */
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
  padding: 10px;
}

/* Set score to be yellow */
#scoreSpan
{
  color: yellow;
}